<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.vince.aframe">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="com.vince.andframe.app.AFApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.vince.andframe.business.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.vince.andframe.demo.network.NetTestActivity"
            android:theme="@style/AppActTheme">

        </activity>

        <activity
            android:name="com.vince.andframe.demo.refresh.TestRefreshListActivity"
            android:theme="@style/AppActTheme">

        </activity>

        <activity
            android:name="com.vince.andframe.demo.refresh.TestRefreshScrollActivity"
            android:theme="@style/AppActTheme">

        </activity>

        <activity
            android:name="com.vince.andframe.demo.recycler.drawer.DrawerViewActivity"
            android:theme="@style/AppActTheme">

        </activity>
        <activity
            android:name="com.vince.andframe.demo.recycler.pinterest.PinterestDemoActivity"
            android:theme="@style/AppActTheme">

        </activity>

        <service
            android:name="com.vince.andframe.demo.aidl.BookManagerServerService"
            android:process=":remote" />

        <activity
            android:name="com.vince.andframe.demo.aidl.BookClientActivity"
            android:theme="@style/AppActTheme">

        </activity>

    </application>

</manifest>